.iv-blk {
  width: 1200px;
  margin: 0 auto 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1200px) {
  .iv-blk {
    width: 100%;
  }
}
.iv-blk > svg {
  width: 928px;
  height: 1030px;
  position: absolute;
}
.iv-blk > svg:nth-of-type(1) {
  top: -185px;
  left: -155px;
  fill: #f2f2f2;
  -webkit-transform: rotateZ(134deg);
  -ms-transform: rotate(134deg);
  transform: rotateZ(134deg);
  z-index: 3;
}
.iv-blk > svg:nth-of-type(2) {
  top: 80px;
  left: -40px;
  fill: #fe5b9a;
  -webkit-transform: rotateZ(-134deg);
  -ms-transform: rotate(-134deg);
  transform: rotateZ(-134deg);
  z-index: 2;
}
.iv-blk > svg:nth-of-type(3) {
  top: 0;
  right: -180px;
  fill: #723868;
  z-index: 1;
}
@media (max-width: 768px) {
  .iv-blk > svg:nth-of-type(3) {
    display: none;
  }
}
.iv-blk > img {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: 4;
}
@media (max-width: 1075px) {
  .iv-blk > img {
    display: none;
  }
}
.iv-blk .iv-box {
  width: 645px;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px;
  position: relative;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
@media (max-width: 1075px) {
  .iv-blk .iv-box {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .iv-blk .iv-box {
    width: 96%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.iv-blk .iv-box > img {
  width: 100%;
  height: 330px;
  background: no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
.iv-blk .iv-box .iv-content {
  padding-top: 100px;
  position: relative;
  background: #373a42;
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content {
    padding-top: 75px;
  }
}
.iv-blk .iv-box .iv-content .iv-dat {
  position: absolute;
  top: -105px;
  left: 50%;
  color: #fe5b9a;
  font-size: 1.5em;
  font-family: 'Russo-fts';
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content .iv-dat {
    top: -80px;
  }
}
.iv-blk .iv-box .iv-content .iv-dat span {
  padding: 7px 20px;
  background: #373a42;
}
.iv-blk .iv-box .iv-content .iv-dat time {
  font-size: 6.6em;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content .iv-dat time {
    font-size: 4.5em;
  }
}
.iv-blk .iv-box .iv-content h3 {
  max-width: 450px;
  display: table;
  padding: 8px 15px 8px 20px;
  position: relative;
  color: #000000;
  font-size: 2em;
  font-family: 'Exo2-med-fts';
  text-transform: uppercase;
  background: #fe5b9a;
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content h3 {
    max-width: 300px;
    font-size: 1.8em;
  }
}
.iv-blk .iv-box .iv-content h3::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  background: inherit;
}
.iv-blk .iv-box .iv-content h3::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: -7px;
  border-style: solid;
  border-color: transparent transparent #98375c transparent;
  border-width: 0 0 7px 7px;
}
.iv-blk .iv-box .iv-content > svg {
  width: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 30px;
  fill: #fe5b9a;
}
.iv-blk .iv-box .iv-content p {
  padding: 0 60px;
  color: #f2f2f2;
  font-size: 1.2em;
  font-family: 'Exo2-lt-fts';
  line-height: 25px;
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content p {
    padding: 0 30px;
  }
}
.iv-blk .iv-box .iv-content .bt-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 20px 0;
}
.iv-blk .iv-box .iv-content .bt-tag .iv-bt {
  width: 55px;
  height: 55px;
  margin: auto auto auto 60px;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media (max-width: 480px) {
  .iv-blk .iv-box .iv-content .bt-tag .iv-bt {
    margin-left: 30px;
  }
}
.iv-blk .iv-box .iv-content .bt-tag .iv-bt::before {
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.iv-blk .iv-box .iv-content .bt-tag .iv-bt::after {
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotateZ(90deg);
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag {
  max-width: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px 20px 5px 30px;
  position: relative;
  color: #373a42;
  font-family: 'Russo-fts';
  text-align: center;
  background: #fe5b9a;
  -webkit-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag span:first-child {
  padding-bottom: 5px;
  font-size: 1.2em;
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag span:last-child {
  font-size: 2.5em;
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag span sup {
  font-family: 'Exo2-med-fts';
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  background: inherit;
}
.iv-blk .iv-box .iv-content .bt-tag .iv-tag::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  right: -7px;
  border-style: solid;
  border-color: transparent transparent transparent #98375c;
  border-width: 7px 0 0 7px;
}
.iv-blk .iv-box .iv-content .iv-add {
  width: 100%;
  height: auto;
  padding: 0 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background: #373a42;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  -o-transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  z-index: -1;
}
.iv-blk .iv-box .iv-content .iv-add a {
  width: 85px;
  height: 85px;
  margin: 5px;
  position: relative;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.iv-blk .iv-box .iv-content .iv-add a::after {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.iv-blk .iv-box .iv-content .iv-add a:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.iv-blk .iv-box .iv-content .iv-add a:hover::after {
  background: #fe5b9a;
}
.iv-blk .iv-box .iv-content .iv-add a:hover svg {
  fill: #373a42;
}
.iv-blk .iv-box .iv-content .iv-add a svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fe5b9a;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
.iv-bt {
  background: #fe5b9a;
}
.pressed {
  background: #d84d83;
}
.pressed::after {
  display: none;
}
.animated {
  opacity: 0;
}
.animated a {
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
}
.iv-soc-anim {
  opacity: 1;
  -webkit-transform: translateY(110px);
  -ms-transform: translateY(110px);
  transform: translateY(110px);
}
.iv-soc-anim a {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
