html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
del,
dfn,
em,
img,
q,
s,
small,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bolder;
}
ol,
ul {
  list-style: none;
}
blockquote {
  font-weight: bolder;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.4em;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
small {
  font-size: 80%;
}
a {
  background-color: transparent;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
@font-face {
  font-family: 'Exo2-thin-fts';
  src: url('../fonts/exo2-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Exo2-light-fts';
  src: url('../fonts/exo2-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Exo2-medium-fts';
  src: url('../fonts/exo2-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Russo-fts';
  src: url('../fonts/russoone.woff') format('woff');
}
p,
li {
  font-family: 'Exo2-light-fts';
  display: block;
}
body {
  width: 100%;
  height: auto;
  background: #252a31;
}
body header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body header .logo {
  padding: 20px;
  position: relative;
}
body header .logo figcaption {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 81%;
  color: #f2f2f2;
  font-size: 1.6em;
  font-family: 'Russo-fts';
  text-transform: uppercase;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
body section {
  overflow: hidden;
}
body section h2 {
  width: 480px;
  margin: auto;
  padding: 145px 0 60px;
  position: relative;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 3.2em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 5;
}
@media (max-width: 480px) {
  body section h2 {
    width: 100%;
    font-size: 2.2em;
  }
}
@font-face {
  font-family: 'Exo2-thin-fts';
  src: url('../fonts/exo2-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Exo2-light-fts';
  src: url('../fonts/exo2-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Exo2-medium-fts';
  src: url('../fonts/exo2-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Russo-fts';
  src: url('../fonts/russoone.woff') format('woff');
}
body section.paty .paty-blk {
  width: 1200px;
  margin: 0 auto 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1200px) {
  body section.paty .paty-blk {
    width: 100%;
  }
}
body section.paty .paty-blk > svg {
  width: 928px;
  height: 1030px;
  position: absolute;
}
body section.paty .paty-blk > svg:nth-of-type(1) {
  top: -185px;
  left: -155px;
  fill: #f2f2f2;
  -webkit-transform: rotateZ(134deg);
  transform: rotateZ(134deg);
  z-index: 3;
}
body section.paty .paty-blk > svg:nth-of-type(2) {
  top: 80px;
  left: -40px;
  fill: #fe5b9a;
  -webkit-transform: rotateZ(-134deg);
  transform: rotateZ(-134deg);
  z-index: 2;
}
body section.paty .paty-blk > svg:nth-of-type(3) {
  top: 0;
  right: -180px;
  fill: #723868;
  z-index: 1;
}
@media (max-width: 768px) {
  body section.paty .paty-blk > svg:nth-of-type(3) {
    display: none;
  }
}
body section.paty .paty-blk > img {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: 4;
}
@media (max-width: 1075px) {
  body section.paty .paty-blk > img {
    display: none;
  }
}
body section.paty .paty-box {
  width: 645px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px 110px;
  position: relative;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
@media (max-width: 1075px) {
  body section.paty .paty-box {
    margin: 0 auto 110px;
  }
}
@media (max-width: 768px) {
  body section.paty .paty-box {
    width: 96%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
body section.paty .paty-box > img {
  width: 100%;
  height: 330px;
  background: no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
body section.paty .paty-content {
  padding-top: 100px;
  position: relative;
  background: #373a42;
}
@media (max-width: 480px) {
  body section.paty .paty-content {
    padding-top: 75px;
  }
}
body section.paty .paty-dat {
  position: absolute;
  top: -105px;
  left: 50%;
  color: #fe5b9a;
  font-size: 1.5em;
  font-family: 'Russo-fts';
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 480px) {
  body section.paty .paty-dat {
    top: -80px;
  }
}
body section.paty .paty-dat span {
  padding: 7px 20px;
  background: #373a42;
}
body section.paty .paty-dat time {
  font-size: 6.6em;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 480px) {
  body section.paty .paty-dat time {
    font-size: 4.5em;
  }
}
body section.paty h3 {
  max-width: 450px;
  display: table;
  padding: 8px 15px 8px 20px;
  position: relative;
  color: #000000;
  font-size: 2em;
  font-family: 'Exo2-medium-fts';
  text-transform: uppercase;
  background: #fe5b9a;
}
@media (max-width: 480px) {
  body section.paty h3 {
    max-width: 300px;
    font-size: 1.8em;
  }
}
body section.paty h3::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  background: inherit;
}
body section.paty h3::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: -7px;
  border-style: solid;
  border-color: transparent transparent #98375c transparent;
  border-width: 0 0 7px 7px;
}
body section.paty svg.stars {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 30px;
  fill: #fe5b9a;
}
body section.paty ul {
  overflow: hidden;
  color: #f2f2f2;
  font-size: 1.2em;
  line-height: 25px;
  text-overflow: ellipsis;
}
body section.paty li {
  padding: 0 60px 20px;
}
@media (max-width: 480px) {
  body section.paty li {
    padding: 0 30px;
  }
}
body section.paty .bt-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 20px 0;
}
body section.paty .bt-tag .plus-bt,
body section.paty .bt-tag .more-bt {
  width: 55px;
  height: 55px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
body section.paty .bt-tag .plus-bt::before,
body section.paty .bt-tag .more-bt::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
}
body section.paty .bt-tag .plus-bt::after,
body section.paty .bt-tag .more-bt::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
}
body section.paty .bt-tag .plus-bt {
  margin: auto auto auto 60px;
}
@media (max-width: 480px) {
  body section.paty .bt-tag .plus-bt {
    margin-left: 30px;
  }
}
body section.paty .bt-tag .plus-bt::before {
  width: 22px;
  height: 3px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body section.paty .bt-tag .plus-bt::after {
  width: 22px;
  height: 3px;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
  transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty .bt-tag .more-bt {
  margin: auto auto auto 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty .bt-tag .more-bt::before {
  width: 18px;
  height: 3px;
  -webkit-transform: translate(-20%, 0%) rotateZ(-45deg);
  transform: translate(-20%, 0%) rotateZ(-45deg);
}
body section.paty .bt-tag .more-bt::after {
  width: 18px;
  height: 3px;
  -webkit-transform: translate(-80%, 0%) rotateZ(45deg);
  transform: translate(-80%, 0%) rotateZ(45deg);
}
body section.paty .bt-tag .paty-tag {
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px 20px 5px 30px;
  position: relative;
  color: #373a42;
  font-family: 'Russo-fts';
  text-align: center;
  background: #fe5b9a;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.paty .bt-tag .paty-tag span:first-child {
  padding-bottom: 5px;
  font-size: 1.2em;
}
body section.paty .bt-tag .paty-tag span:last-child {
  font-size: 2.5em;
}
body section.paty .bt-tag .paty-tag span sup {
  font-family: 'Exo2-medium-fts';
}
body section.paty .bt-tag .paty-tag::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  background: inherit;
}
body section.paty .bt-tag .paty-tag::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  right: -7px;
  border-style: solid;
  border-color: transparent transparent transparent #98375c;
  border-width: 7px 0 0 7px;
}
body section.paty .paty-add {
  width: 100%;
  height: auto;
  padding: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background: #373a42;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  z-index: -1;
}
body section.paty .paty-add a {
  width: 85px;
  height: 85px;
  margin: 5px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty .paty-add a::after {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: inherit;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: inherit;
  transition: inherit;
}
body section.paty .paty-add a:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.paty .paty-add a:hover::after {
  background: #fe5b9a;
}
body section.paty .paty-add a:hover .icon-svg {
  fill: #373a42;
}
body section.paty .paty-add a .icon-svg {
  width: 37px;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fe5b9a;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
body section.paty .paty-add a .icon-svg use #fbk {
  height: 175px;
}
body section.paty .plus-bt,
body section.paty .more-bt {
  background: #fe5b9a;
}
body section.paty .pressed-more,
body section.paty .pressed-plus {
  background: #d84d83;
}
body section.paty .pressed-plus::after {
  opacity: 0;
}
body section.paty .pressed-more {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5) !important;
}
body section.paty .animated {
  opacity: 0;
}
body section.paty .animated a {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
body section.paty .action {
  opacity: 1;
  -webkit-transform: translateY(110px);
  transform: translateY(110px);
}
body section.paty .action a {
  -webkit-transform: scale(1);
  transform: scale(1);
}
body section.paty .show {
  display: block;
}
body section.paty .hide {
  display: none;
}
body section.paty h4.next-evts {
  margin: 50px auto;
  color: #f2f2f2;
  font-size: 2.5em;
  font-family: 'Exo2-thin-fts';
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
@font-face {
  font-family: 'Exo2-thin-fts';
  src: url('../fonts/exo2-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Exo2-light-fts';
  src: url('../fonts/exo2-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Exo2-medium-fts';
  src: url('../fonts/exo2-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Russo-fts';
  src: url('../fonts/russoone.woff') format('woff');
}
body section.paty .absoluteP {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
body section.paty .next-blk {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body section.paty .next-box {
  width: 370px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px;
  position: relative;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 480px) {
  body section.paty .next-box {
    width: 96%;
  }
}
body section.paty figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
body section.paty figure img {
  width: inherit;
  height: inherit;
  background: no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
body section.paty figure::after {
  content: '';
  width: inherit;
  height: inherit;
  position: inherit;
  top: inherit;
  left: inherit;
  background: rgba(37, 42, 49, 0.7);
}
body section.paty .next-date {
  width: 110px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px 0;
  position: absolute;
  top: -8px;
  left: 20px;
  background: #fe5b9a;
  color: #252a31;
  font-family: 'Russo-fts';
  font-size: 1em;
  text-align: center;
  line-height: 24px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.9, 0.39, 1.28);
  transition: all 0.3s cubic-bezier(0.1, 0.9, 0.39, 1.28);
  z-index: 10;
  pointer-events: none;
}
body section.paty .next-date::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -8px;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent transparent #98375c transparent;
}
body section.paty .next-date span {
  padding: 30px 0 5px;
  font-size: 3.5em;
}
body section.paty h5 {
  width: 100%;
  padding: 0px 20px 10px;
  position: relative;
  top: 15px;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 2em;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty h5::before {
  content: '';
  width: 70px;
  height: 15px;
  top: -25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: no-repeat center url(../img/els/stars.svg);
}
body section.paty .next-btn {
  padding: 12px 17px;
  background: #fe5b9a;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 280px;
  color: #252a31;
  font-family: 'Exo2-medium-fts';
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
body section.paty p {
  max-height: 300px;
  padding: 0 20px 14px;
  position: absolute;
  opacity: 0;
  color: #f2f2f2;
  font-size: 1.2em;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
body section.paty .show-info .next-date {
  height: 8px;
  opacity: 0;
}
body section.paty .show-info h5,
body section.paty .show-info .next-btn {
  opacity: 0;
  pointer-events: none;
}
body section.paty .show-info p {
  opacity: 1;
}
@font-face {
  font-family: 'Exo2-thin-fts';
  src: url('../fonts/exo2-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Exo2-light-fts';
  src: url('../fonts/exo2-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Exo2-medium-fts';
  src: url('../fonts/exo2-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Russo-fts';
  src: url('../fonts/russoone.woff') format('woff');
}
body section.courses .flex-crs {
  width: 1200px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto 50px;
  position: relative;
  background: #252a31;
  border: 1px solid #4a5462;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1199px) {
  body section.courses .flex-crs {
    width: 98%;
  }
}
body section.courses .crs-dat {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  margin: 0px auto;
}
body section.courses .crs-day {
  padding: 4px 7px;
  position: absolute;
  top: -15px;
  background: #383f4a;
  border: 1px solid #4a5462;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 1.2em;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
body section.courses .crs-time {
  height: 60px;
  margin-top: 20px;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 3.4em;
  z-index: 3;
}
body section.courses img {
  width: 160px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
}
body section.courses .sect {
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #f2f2f2;
  color: #252a31;
  font-family: 'Exo2-medium-fts';
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}
body section.courses .crs-cont {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 500px;
  flex: 1 1 500px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 20px;
}
@media (max-width: 768px) {
  body section.courses .crs-cont {
    padding-left: 20px;
  }
}
body section.courses .crs-name {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
  color: #f2f2f2;
  font-family: 'Exo2-medium-fts';
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
body section.courses .crs-name::after {
  content: '';
  width: 2px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 0;
  background: #f2f2f2;
}
body section.courses .crs-graphs {
  max-height: 115px;
  overflow: hidden;
  color: #f2f2f2;
  font-size: 1.2em;
  line-height: 20px;
  text-overflow: ellipsis;
}
@media (max-width: 480px) {
  body section.courses .crs-graphs {
    line-height: 22px;
  }
}
body section.courses .crs-graphs li {
  padding: 5px 0;
}
body section.courses .crs-opt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
body section.courses .crs-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 10px 0 10px 20px;
}
@media (max-width: 768px) {
  body section.courses .crs-btns {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
@media (max-width: 480px) {
  body section.courses .crs-btns {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
  }
}
body section.courses .crs-btns a {
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #f2f2f2;
}
body section.courses .crs-btns a .crs-svg {
  width: 30px;
  height: 30px;
  fill: #f2f2f2;
}
body section.courses .crs-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 10px;
}
@media (max-width: 768px) {
  body section.courses .crs-plus {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
body section.courses .crs-plus span {
  width: 55px;
  height: 55px;
  display: block;
  margin: auto;
  position: relative;
  background: #f2f2f2;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
body section.courses .crs-plus span::before {
  content: '';
  width: 22px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
body section.courses .crs-plus span::after {
  content: '';
  width: 22px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
  transform: translateX(-50%) translateY(-50%) rotateZ(90deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.courses .for-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 10px 0 20px;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
body section.courses .for-price .crs-tip {
  width: 140px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
  position: relative;
  left: 15px;
  color: #f2f2f2;
  font-size: 1em;
  font-family: 'Exo2-light-fts';
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #383f4a;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.courses .for-price .crs-price {
  width: 110px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  color: #252a31;
  font-size: 2.5em;
  font-family: 'Russo-fts';
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fe5b9a;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.courses .for-price .crs-price sup {
  font-family: 'Exo2-medium-fts';
}
body section.courses .for-price .crs-price::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  background: inherit;
}
body section.courses .for-price .crs-price::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  right: -7px;
  border-style: solid;
  border-color: transparent transparent transparent #98375c;
  border-width: 7px 0 0 7px;
}
@-webkit-keyframes impuls-rose {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
    box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
    box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
  }
}
@keyframes impuls-rose {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
    box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
    box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
  }
}
@-webkit-keyframes impuls-bordo {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
    box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
    box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
  }
}
@keyframes impuls-bordo {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
    box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
    box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
  }
}
@media (max-width: 1200px) {
  main {
    width: 100%;
    overflow: hidden;
  }
}
