html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
big,
del,
dfn,
em,
img,
q,
s,
small,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bolder;
}
ol,
ul {
  list-style: none;
}
blockquote {
  font-weight: bolder;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.4em;
}
img {
  max-width: 100%;
  height: auto;
  border-style: none;
}
small {
  font-size: 80%;
}
a {
  background-color: transparent;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
@font-face {
  font-family: 'Exo2-thin-fts';
  src: url('../fonts/exo2-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Exo2-lt-fts';
  src: url('../fonts/exo2-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Exo2-med-fts';
  src: url('../fonts/exo2-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Russo-fts';
  src: url('../fonts/russoone.woff') format('woff');
}
body {
  width: 100%;
  height: auto;
  background: #252a31;
}
body header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
body header .logo {
  padding: 20px;
  position: relative;
}
body header .logo figcaption {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 81%;
  color: #f2f2f2;
  font-size: 1.6em;
  font-family: 'Russo-fts';
  text-transform: uppercase;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
body section.paty {
  overflow: hidden;
}
body section.paty h2 {
  width: 480px;
  margin: auto;
  padding: 145px 0 60px;
  position: relative;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 3.2em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  z-index: 5;
}
@media (max-width: 480px) {
  body section.paty h2 {
    width: 100%;
    font-size: 2.2em;
  }
}
body section.paty .paty-blk {
  width: 1200px;
  margin: 0 auto 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1200px) {
  body section.paty .paty-blk {
    width: 100%;
  }
}
body section.paty .paty-blk > svg {
  width: 928px;
  height: 1030px;
  position: absolute;
}
body section.paty .paty-blk > svg:nth-of-type(1) {
  top: -185px;
  left: -155px;
  fill: #f2f2f2;
  -webkit-transform: rotateZ(134deg);
  transform: rotateZ(134deg);
  z-index: 3;
}
body section.paty .paty-blk > svg:nth-of-type(2) {
  top: 80px;
  left: -40px;
  fill: #fe5b9a;
  -webkit-transform: rotateZ(-134deg);
  transform: rotateZ(-134deg);
  z-index: 2;
}
body section.paty .paty-blk > svg:nth-of-type(3) {
  top: 0;
  right: -180px;
  fill: #723868;
  z-index: 1;
}
@media (max-width: 768px) {
  body section.paty .paty-blk > svg:nth-of-type(3) {
    display: none;
  }
}
body section.paty .paty-blk > img {
  position: absolute;
  top: -70px;
  right: 0;
  z-index: 4;
}
@media (max-width: 1075px) {
  body section.paty .paty-blk > img {
    display: none;
  }
}
body section.paty .paty-box {
  width: 645px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px ;
  position: relative;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  z-index: 15;
}
@media (max-width: 1075px) {
  body section.paty .paty-box {
    margin: 0 auto 110px;
  }
}
@media (max-width: 768px) {
  body section.paty .paty-box {
    width: 96%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
body section.paty .paty-box > img {
  width: 100%;
  height: 330px;
  background: no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
body section.paty .paty-content {
  padding-top: 100px;
  position: relative;
  background: #373a42;
}
@media (max-width: 480px) {
  body section.paty .paty-content {
    padding-top: 75px;
  }
}
body section.paty .paty-dat {
  position: absolute;
  top: -105px;
  left: 50%;
  color: #fe5b9a;
  font-size: 1.5em;
  font-family: 'Russo-fts';
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (max-width: 480px) {
  body section.paty .paty-dat {
    top: -80px;
  }
}
body section.paty .paty-dat span {
  padding: 7px 20px;
  background: #373a42;
}
body section.paty .paty-dat time {
  font-size: 6.6em;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 480px) {
  body section.paty .paty-dat time {
    font-size: 4.5em;
  }
}
body section.paty h3 {
  max-width: 450px;
  display: table;
  padding: 8px 15px 8px 20px;
  position: relative;
  color: #000000;
  font-size: 2em;
  font-family: 'Exo2-med-fts';
  text-transform: uppercase;
  background: #fe5b9a;
}
@media (max-width: 480px) {
  body section.paty h3 {
    max-width: 300px;
    font-size: 1.8em;
  }
}
body section.paty h3::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -5px;
  background: inherit;
}
body section.paty h3::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: -7px;
  border-style: solid;
  border-color: transparent transparent #98375c transparent;
  border-width: 0 0 7px 7px;
}
body section.paty svg.stars {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 30px;
  fill: #fe5b9a;
}
body section.paty li {
  padding: 0 60px 14px;
  color: #f2f2f2;
  font-size: 1.2em;
  font-family: 'Exo2-lt-fts';
  line-height: 25px;
  text-overflow: ellipsis;
}
@media (max-width: 480px) {
  body section.paty li {
    padding: 0 30px;
  }
}
body section.paty .bt-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 20px 0;
}
body section.paty .bt-tag .paty-bt {
  width: 55px;
  height: 55px;
  margin: auto auto auto 60px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
@media (max-width: 480px) {
  body section.paty .bt-tag .paty-bt {
    margin-left: 30px;
  }
}
body section.paty .bt-tag .paty-bt::before {
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body section.paty .bt-tag .paty-bt::after {
  content: '';
  width: 25px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #373a42;
  -webkit-transform: translate(-50%, -50%) rotateZ(90deg);
  transform: translate(-50%, -50%) rotateZ(90deg);
}
body section.paty .bt-tag .paty-tag {
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px 20px 5px 30px;
  position: relative;
  color: #373a42;
  font-family: 'Russo-fts';
  text-align: center;
  background: #fe5b9a;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.paty .bt-tag .paty-tag span:first-child {
  padding-bottom: 5px;
  font-size: 1.2em;
}
body section.paty .bt-tag .paty-tag span:last-child {
  font-size: 2.5em;
}
body section.paty .bt-tag .paty-tag span sup {
  font-family: 'Exo2-med-fts';
}
body section.paty .bt-tag .paty-tag::after {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  background: inherit;
}
body section.paty .bt-tag .paty-tag::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  right: -7px;
  border-style: solid;
  border-color: transparent transparent transparent #98375c;
  border-width: 7px 0 0 7px;
}
body section.paty .paty-add {
  width: 100%;
  height: auto;
  padding: 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  background: #373a42;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  z-index: -1;
}
body section.paty .paty-add a {
  width: 85px;
  height: 85px;
  margin: 5px;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty .paty-add a::after {
  content: '';
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: transparent;
  border-radius: inherit;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: inherit;
  transition: inherit;
}
body section.paty .paty-add a:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
body section.paty .paty-add a:hover::after {
  background: #fe5b9a;
}
body section.paty .paty-add a:hover svg {
  fill: #373a42;
}
body section.paty .paty-add a svg {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #fe5b9a;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
}
body section.paty .paty-bt {
  background: #fe5b9a;
}
body section.paty .pressed {
  background: #d84d83;
}
body section.paty .pressed::after {
  display: none;
}
body section.paty .animated {
  opacity: 0;
}
body section.paty .animated a {
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}
body section.paty .paty-soc-anim {
  opacity: 1;
  -webkit-transform: translateY(110px);
  transform: translateY(110px);
}
body section.paty .paty-soc-anim a {
  -webkit-transform: scale(1);
  transform: scale(1);
}
body section.paty h4.next-evts {
  margin: 50px auto;
  color: #f2f2f2;
  font-size: 2.5em;
  font-family: 'Exo2-thin-fts';
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
}
body section.paty .next-blk {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body section.paty .next-box {
  width: 370px;
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}
@media (max-width: 480px) {
  body section.paty .next-box {
    width: 96%;
    margin: 15px;
  }
}
body section.paty .next-box:hover figure::after {
  background: rgba(37, 42, 49, 0.85);
}
body section.paty .next-box:hover .next-content {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}
body section.paty .next-box:hover h5 {
  opacity: 0;
}
body section.paty .next-box:hover svg.next-str {
  opacity: 0;
}
body section.paty .next-box:hover svg.next-arr {
  opacity: 0;
  -webkit-animation: none;
  animation: none;
}
body section.paty .next-box:hover p {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
}
body section.paty figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body section.paty figure img {
  width: inherit;
  height: inherit;
  background: no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
body section.paty figure::after {
  content: '';
  width: inherit;
  height: inherit;
  position: inherit;
  top: inherit;
  left: inherit;
  background: rgba(37, 42, 49, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body section.paty .next-date {
  width: 270px;
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 5px;
  position: absolute;
  top: -30px;
  left: -100px;
  background: #fe5b9a;
  color: #252a31;
  font-family: 'Russo-fts';
  font-size: 1em;
  text-align: center;
  line-height: 24px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
body section.paty .next-date span {
  padding-bottom: 5px;
  font-size: 3.5em;
}
body section.paty .next-content {
  -webkit-transition: all 0.5s cubic-bezier(0.96, 0.85, 0.18, 0.92);
  transition: all 0.5s cubic-bezier(0.96, 0.85, 0.18, 0.92);
  -webkit-transform: translate3d(0, 200px, 0);
  transform: translate3d(0, 200px, 0);
}
body section.paty svg.next-str {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  fill: #f2f2f2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
body section.paty svg.next-arr {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  fill: #f2f2f2;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
body section.paty h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 60px 10px;
  color: #f2f2f2;
  font-family: 'Russo-fts';
  font-size: 2em;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
body section.paty p {
  height: 249px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px 14px;
  overflow: hidden;
  color: #f2f2f2;
  font-size: 1.2em;
  font-family: 'Exo2-lt-fts';
  line-height: 25px;
  text-overflow: ellipsis;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 60px, 0);
  transform: translate3d(0, 60px, 0);
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
@media (max-width: 480px) {
  body section.paty p {
    padding: 0 20px;
  }
}
@-webkit-keyframes nextArrow {
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes nextArrow {
  25% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    opacity: 0;
  }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes impuls-rose {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
    box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
    box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
  }
}
@keyframes impuls-rose {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
    box-shadow: 0 0 0px 1px rgba(254, 91, 154, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
    box-shadow: 0 0 20px 30px rgba(254, 91, 154, 0);
  }
}
@-webkit-keyframes impuls-bordo {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
    box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
    box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
  }
}
@keyframes impuls-bordo {
  0% {
    -webkit-box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
    box-shadow: 0 0 0px 1px rgba(114, 56, 104, 0.7);
  }
  50% {
    -webkit-box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
    box-shadow: 0 0 20px 30px rgba(114, 56, 104, 0);
  }
}
@media (max-width: 1200px) {
  main {
    width: 100%;
    overflow: hidden;
  }
}
