  //////// Color
@bg:  rgb(37,42,49);
@box: rgb(55,58,66);
@rose: rgb(254, 91, 154);
@antrast: rgb(94, 246, 255);
@bordo: rgb(114, 56, 104);
@white: rgb(242, 242, 242);
@black: rgb(0, 0, 0);

.flex-crs {
  width: 1200px;
  height: auto;
  &:extend(.flex-wrap);
  margin: 0 auto 50px;
  position: relative;
  @media (max-width: 1199px) {
    width: 98%;
  }
}
  // Date, Time
.crs-dat {
  width: 100px;
  &:extend(.flex-column);
  position: absolute;
  top: 30px;
  right: 35px;
  font-family: @russo;
  @media (max-width: 875px) {
    top: 20px;
    right: 25px;
  }
  @media (max-width: 715px) {
    top: 165px;
  }
  .crs-day {
    font-size: @fs-15 - 2;
    text-transform: uppercase;
  }
  .crs-time {
    font-size: @fs-30 - 5;
  }
  svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    left: -26px;
  }
}



  // Img, categories
.crs-img :extend(.flex-column) {
  height: 200px;
  position: relative;
  align-items: center;
  flex: 0 1 200px;
  margin: 0px auto;
}

.crs-cls {
  padding: 10px 40px;
  position: absolute;
  top: -20px;
  font-family: @russo;
  font-size: @fs-18;
}

img :extend(.absLeft) {
  width: 160px;
  height: 160px;
  bottom: 0;
  border-radius: 50%;
  z-index: 1;
  @media (max-width: 480px) {
    transform: translateX(-90%);
  }
}

.sect :extend(.absLeft) {
  padding: 5px 8px;
  bottom: 0;
  font-family: @exo-l;
  font-weight: bold;
  font-size: @fs-18;
  text-transform: uppercase;
  z-index: 2;
}

 // Context block
.crs-cont {
  flex: 1 1 500px;
  flex-wrap: wrap;
  padding-right: 20px;
  @media (max-width: 768px) {
    padding-left: 20px;
  }
}

h4 {
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  position: relative;
  font-family: @exo-l;
  font-size: @fs-30 - 5;
  font-weight: bold;
  text-transform: uppercase;
  &::after {
    content: '';
    width: 2px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 0;
  }
}

.crs-graphs {
  // max-height: 115px;
  display: block;
  position: relative;
  overflow: hidden;
  font-size: @fs-18;
  line-height: @fs-18 + 1;
  white-space: pre-wrap;
  transition: @ti;
  @media (max-width: 480px) {
    line-height: 22px;
  }
  pre {
    white-space: pre-wrap;
  }
  // &::before {
  //   content: '';
  //   width: 100%;
  //   height: 2px;
  //   &:extend(.absLeft);
  //   bottom: 0;
  //   background: @wt-box;
  // }
  // li {
  //   padding: 6px 0 0;
  // }
}

  // Functional
.crs-opt {
  &:extend(.flex-wrap);
  flex: 1 1 100%;
}
.crs-btns :extend(.flex-wrap) {
  flex: 1 1 300px;
  justify-content: flex-start;
  align-content: center;
  margin: 10px 0 10px 20px;
  @media (max-width: 768px) {
    order: 2;
  }
  @media (max-width: 480px) {
    justify-content: center;
    margin-left: auto;
  }
  a :extend(.flex-center, .btn-base) {
    margin: 5px;
    .crs-svg {
      width: 23px;
      height: 23px;
    }
  }
}
.crs-more :extend(.flex-center) {
  margin: 10px 0;
  @media (max-width: 768px) {
    flex: 1 0 100%;
    order: 1;
  }
  span :extend(.btn-base) {
    display: block;
    margin: auto;
    &::before {
      content: '';
      &:extend(.absCenter);
      width: 15px;
      height: 3px;
      transform: translate(-20%, 0%) rotateZ(-45deg);
    }
    &::after {
      content: '';
      &:extend(.absCenter);
      width: 15px;
      height: 3px;
      transform: translate(-80%, 0%) rotateZ(45deg);
    }
      // JS class
    &.pressed-more {
      &::before {
        width: 20px;
        transform: translate(-50%, -1px) rotateZ(-45deg);
      }
      &::after {
        width: 20px;
        transform: translate(-50%, -1px) rotateZ(45deg);
      }
    }
  }
}

.for-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 auto;
  margin: 10px 0 20px;
  order: 3;
  .crs-tip {
    width: 140px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    position: relative;
    left: 15px;
    font-size: @fs-15;
    font-family: @exo-l;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  .crs-price:extend(.flex-center) {
    width: 110px;
    height: 65px;
    position: relative;
    font-size: @fs-40;
    font-family: @russo;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    &::after {
      content: '';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -5px;
    }
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -7px;
      right: -7px;
      border-style: solid;
      border-width: 7px 0 0 7px;
    }
  }
}