	//////// Color
@bg:  rgb(37,42,49);
@box: rgb(55,58,66);
@rose: rgb(254, 91, 154);
@antrast: rgb(94, 246, 255);
@bordo: rgb(114, 56, 104);
@white: rgb(242, 242, 242);
@black: rgb(0, 0, 0);

	// Next events
.next-blk:extend(.flex-wrap) {
  width: 100%;
  height: auto;
	justify-content: center;
	margin-top: 80px;
}

	// Box of event
.next-box {
	width: 270px;
	height: 500px;
	margin: @gap;
	position: relative;
	box-shadow: inset 0 0 1px @black;
	z-index: 1;
	// cursor: pointer;
	@media (max-width: 480px) {
		// width: 96%;
	}
	&:nth-of-type(2n+2) {
		margin-top: @gap + 30px;
		@media (max-width: 480px) {
			margin-top: @gap;
		}
	}
	&:nth-of-type(4n+3) {
		margin-top: @gap + 60px;
		@media (max-width: 480px) {
			margin-top: @gap;
		}
	}
	&:nth-of-type(4n+0) {
		margin-top: @gap + 90px;
		@media (max-width: 480px) {
			margin-top: @gap;
		}
	}
	> div {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		z-index: 4;
	}
	&:hover .next-stars {
		transform: translate3d(0, 0px, 0);
	}
	&:hover h5 {
		transform: translate3d(0, 0px, 0);
	}
	&:hover .next-poster {
		opacity: 0;
		transform: scale(0.01);
		transform-origin: bottom left;
	}
	&:hover .next-poster::after {
		opacity: 0.2;
	}
}

	// Date of event
.next-date {
	min-width: 110px;
	position: absolute;
	top: -8px;
	left: 20px;
	font-family: @russo;
	padding: 20px 10px;
	text-align: center;
	font-size: @fs-50;
	z-index: 10;
	pointer-events: none;
	&::after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: -8px;
		border-style: solid;
		border-width: 0 0 8px 8px;
	}
	> span {
		display: flex;
		justify-content: center;
		font-size: @fs-18;
	}
}

.next-stars {
	width: 70px;
	height: 15px;
	display: block;
	margin: auto;
	position: relative;
	top: 130px;
	transition: all 0.3s cubic-bezier(0, 1.01, 0.74, 0.95);
	transform: translate3d(0, 100px, 0);
	z-index: 8;
}

// Caption events
h5 {
	display: block;
	padding: 0px 20px 10px;
	position: relative;
	top: 135px;
	font-size: @fs-18 + 6;
	transition: all 0.3s cubic-bezier(0, 1.01, 0.74, 0.95);
	transform: translate3d(0, 100px, 0);
	z-index: 7;
}

.next-poster {
	width: 100%;
	min-height: 600px;
	position: absolute;
	background-position: center;
	background-size: cover;
	transition: all 0.3s cubic-bezier(0, 1.01, 0.74, 0.95);
	z-index: 2;
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0.8;
		transition: @ti;
	}
}
	// Button more
.next-btn {
	&:extend(.absLeft);
	top: 55%;
	padding: 11px 20px 15px;
	font-family: @exo-l;
	font-size: @fs-18;
	font-weight: bold;
	border-radius: 50px;
	z-index: 3;
	cursor: pointer;
}

	// Text
.next-box p {
	max-height: 300px; //249
	display: block;
	padding: 0 20px 14px;
	position: relative;
	top: 100px;
	font-size: @fs-18;
	line-height: 25px;
	transform: translate3d(0, 50px, 0);
	transition: @ti;
}

	// JS class
// .show-info {
// 	.next-poster {
// 		transform: translate3d(0, 430px, 0);
// 	}
// 	p {
// 		transform: translate3d(0, 0px, 0);
// 	}
// }