	//////// Color
@bg:  rgb(37,42,49);
@box: rgb(55,58,66);
@rose: rgb(254, 91, 154);
@antrast: rgb(94, 246, 255);
@bordo: rgb(114, 56, 104);
@white: rgb(242, 242, 242);
@black: rgb(0, 0, 0);

	// Next events
.next-blk:extend(.flex-wrap) {
  width: 100%;
  height: auto;
	justify-content: center;
	margin-top: 80px;
}

	// Box of event
.next-box {
	width: 370px;
	height: 425px;
	margin: @gap;
	position: relative;
	background-size: cover;
	object-fit: cover;
	transition: @ti;
	z-index: 1;
	@media (max-width: 480px) {
		width: 96%;
	}
	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: -1;
	}
	div :extend(.flex-center) {
		height: 425px;
		position: absolute;
		overflow: hidden;
	}
}

	// Date of event
.next-date {
	min-width: 110px;
	position: absolute;
	top: -8px;
	left: 20px;
	font-family: @russo;
	padding: 40px 10px;
	text-align: center;
	font-size: @fs-50;
	transition: all 0.3s cubic-bezier(0, 0.86, 0.58, 1);
	z-index: 10;
	pointer-events: none;
	&::after {
		content: '';
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: -8px;
		border-style: solid;
		border-width: 0 0 8px 8px;
	}
	> span {
		display: flex;
		justify-content: center;
		font-size: @fs-18;
	}
}

// Caption events
h5 {
	width: 100%;
	display: block;
	padding: 0px 20px 10px;
	position: absolute;
	top: 205px;
	font-size: @fs-30;
	transition: @ti;
	&::before {
		content: '';
		width: 70px;
		height: 15px;
		top: -25px;
		&:extend(.absLeft);
		background: no-repeat center url(../img/svg/stars.svg);
	}
}

	// Button more
.show-night-btn,
.show-day-btn {
	&:extend(.absLeft);
	padding: 10px 17px 12px;
	font-family: @exo-l;
	font-size: @fs-18;
	font-weight: bold;
	border-radius: 5px;
	transition: @ti;
	cursor: pointer;
}
.next-btn {
	top: 350px;
}

	// Text
p {
	max-height: 300px; //249
	display: block;
	padding: 0 20px 14px;
	position: relative;
	font-size: @fs-18;
	font-weight: bold;
	text-overflow: ellipsis;
	line-height: 25px;
	transform: translate3d(0, 430px, 0);
	transition: @ti;
	pointer-events: none;
}

	// JS class
.show-info {
	.next-date {
		padding: 20px 10px;
	}
	.next-btn {
		opacity: 0;
		pointer-events: none;
	}
	h5 {
		opacity: 0;
		transform: translate3d(0, -50px, 0);
	}
	p {
		transform: translate3d(0, 50px, 0);
	}
}