 
// Events blocks and backgrounds images
.paty-blk {
  width: 1200px;
  margin: 0 auto 20px;
  &:extend(.flex-column);
  position: relative;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .night-paint,
  .day-paint {
    width: 1515px;
    height: 1247px;
    display: block;
    position: absolute;
    top: -70px;
    left: -135px;
  }
  .model {
    position: absolute;
    top: -70px;
    right: 0;
    z-index: 4;
    @media (max-width: 1075px) {
      display: none;
    }
  }
}

  // Event block and poster image
.paty-box {
  width: 645px;
  height: auto;
  &:extend(.flex-column);
  margin: 110px 10px;
  position: relative;
  box-shadow: @shadow;
  z-index: 15;
  @media ( max-width: 1075px) {
    margin: 110px auto;
  }
  @media (max-width: 768px) {
    width: 96%;
    justify-content: center;
  }
  >img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    filter: saturate(0.3) brightness(0.7);
  }
}

  // All block's event elem's without poster 
.paty-content {
  position: relative;
}

  // Date and time of event
.paty-dat {
  width: 110px;
  position: absolute;
  top: -8px;
  left: 20px;
  font-family: @russo;
  padding: 40px 20px;
  text-align: center;
  font-size: @fs-50;
  box-shadow: @shadow;
  transition: all 0.5s cubic-bezier(0, 0.86, 0.58, 1);
  z-index: 10;
  pointer-events: none;
  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -8px;
    border-style: solid;
    border-width: 0 0 8px 8px;
  }
  > span {
    display: flex;
		justify-content: center;
		font-size: @fs-18;
  }
}
.paty-time {
  padding: 10px 15px;
  position: absolute;
  top: 200px;
  left: @gap;
  font-family: @russo;
  text-transform: uppercase;
  font-size: @fs-128;
  @media (max-width: 480px) {
    font-size: @fs-128 - 20px;
  }
}

  // Caption event
h3 {
  max-width: 450px;
  display: table;
  padding: 8px 15px 8px 20px;
  position: relative;
  font-size: @fs-30;
  font-family: @exo-l;
  text-transform: uppercase;
  &::after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    background: inherit;
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    border-style: solid;
    border-width: 0 0 7px 7px;
  }
}

  // Stars separator
svg.stars {
  width: 70px;
  height: 20px;
  display: flex;
  margin: 30px auto;
}

  // Content block
ul {
  overflow: hidden;
  font-size: @fs-18;
  line-height: 25px;
  text-overflow: ellipsis;
  transition: @ti;
}
li, pre, .pre-txt {
  white-space: pre-wrap;
  padding: 0 60px;
  @media (max-width: 480px) {
    padding: 0 30px;
  }
}

  // Line of button "add", "more", "price" 
.bt-tag {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;

    // Buttons
  .plus-bt, .more-bt {
    &:extend(.btn-base);
    &::before {
      content: '';
      &:extend(.absCenter);
    }
    &::after {
      content: '';
      &:extend(.absCenter);
    }
  }
  .plus-bt {
    &:extend(.btn-base);
    margin: auto auto auto 60px;
    @media (max-width: 480px) {
      margin-left: 30px;
    }
    svg {
      width: 23px;
      height: 23px;
      .absCenter();
      z-index: 2;
    }
    // &::before {
    //   width: 22px;
    //   height: 3px;
    // }
    // &::after {
    //   width: 22px;
    //   height: 3px;
    //   transform: translate(-50%, -50%) rotateZ(90deg);
    //   transition: @ti;
    // }
     // JS class
    &.pressed-plus {
      &::after {
        opacity: 0;
      }
    }
  }
  .more-bt {
    margin: auto auto auto 0px;
    &::before {
      width: 15px;
      height: 3px;
      transform: translate(-20%, 0%) rotateZ(-45deg);
    }
    &::after {
      width: 15px;
      height: 3px;
      transform: translate(-80%, 0%) rotateZ(45deg);
    }
      // JS class
    &.pressed-more {
      &::before {
        width: 20px;
        transform: translate(-50%, -1px) rotateZ(-45deg);
      }
      &::after {
        width: 20px;
        transform: translate(-50%, -1px) rotateZ(45deg);
      }
    }
  }

  // Price
  .paty-tag {
    max-width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 20px 5px 30px;
    position: relative;
    font-family: @russo;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
      &:first-child {
        padding-bottom: 5px;
        font-size: @fs-18;
      }
      &:last-child {
        font-size: @fs-40;
      }
    }
    &::after {
      content: '';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -5px;
      background: inherit;
    }
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -7px;
      right: -7px;
      border-style: solid;
      border-width: 7px 0 0 7px;
    }
  }
}

  // Hided Social Buttons
.paty-add {
  width: 100%;
  height: auto;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  z-index: -1;
  a {
    &:extend(.btn-base);
    margin: 10px 5px;
    border: 2px solid;
    transform: scale(0.1);
    .icon-svg {
      width: 23px;
      height: 23px;
      .absCenter();
      z-index: 2;
      use #fbk {
        height: 175px;
      }
    }
  }
    //JS class
  &.action {
    opacity: 1;
    transform: translateY(70px);
    a {
      transform: scale(1);
    }
  }
}