  //////// Color
@bg:  rgb(37,42,49);
@box: rgb(55,58,66);
@rose: rgb(254, 91, 154);
@antrast: rgb(94, 246, 255);
@bordo: rgb(114, 56, 104);
@white: rgb(242, 242, 242);
@black: rgb(0, 0, 0);
  
// Events blocks and backgrounds images
.paty-blk {
  width: 1200px;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .night-paint,
  .day-paint {
    width: 1515px;
    height: 1247px;
    display: block;
    position: absolute;
    top: -70px;
    left: -135px;
  }
  .model {
    position: absolute;
    top: -70px;
    right: 0;
    z-index: 4;
    @media (max-width: 1075px) {
      display: none;
    }
  }
}

  // Event block and poster image
.paty-box {
  width: 645px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 110px 10px;
  position: relative;
  z-index: 15;
  @media ( max-width: 1075px) {
    margin: 110px auto;
  }
  @media (max-width: 768px) {
    width: 96%;
    justify-content: center;
  }
  >img {
    width: 100%;
    height: 330px;
    object-fit: cover;
  }
}

  // All block's event elem's without poster 
.paty-content {
  position: relative;
}

  // Date and time of event
.paty-dat {
  width: 110px;
  height: 105px;
  position: absolute;
  top: -8px;
  left: 20px;
  font-family: @russo;
  padding: 12px 20px 7px;
  text-align: center;
  font-size: @fs-50;
  word-break: break-all;
  line-height: 40px;
  transition: all 0.5s cubic-bezier(0, 0.86, 0.58, 1);
  z-index: 10;
  pointer-events: none;
  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -8px;
    border-style: solid;
    border-width: 0 0 8px 8px;
  }
}
.paty-time {
  padding: 10px 15px;
  position: absolute;
  top: 200px;
  left: @gap;
  font-family: @russo;
  text-transform: uppercase;
  font-size: @fs-128;
  @media (max-width: 480px) {
    font-size: @fs-128 - 20px;
  }
}

  // Caption event
h3 {
  max-width: 450px;
  display: table;
  padding: 8px 15px 8px 20px;
  position: relative;
  font-size: @fs-30;
  font-family: @exo-m;
  text-transform: uppercase;
  &::after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -5px;
    background: inherit;
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    border-style: solid;
    border-width: 0 0 7px 7px;
  }
}

  // Stars separator
svg.stars {
  width: 70px;
  height: 20px;
  display: flex;
  margin: 30px auto;
}

  // Content block
ul {
  overflow: hidden;
  font-size: @fs-18;
  line-height: 25px;
  text-overflow: ellipsis;
}
li {
  padding: 0 60px 20px;
  @media (max-width: 480px) {
    padding: 0 30px;
  }
}

  // Line of button "add", "more", "price" 
.bt-tag {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 20px 0;

    // Buttons
  .plus-bt, .more-bt {
    width: 55px;
    height: 55px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    &::before {
      content: '';
      .absCenter();
    }
    &::after {
      content: '';
      .absCenter();
    }
  }
  .plus-bt {
    margin: auto auto auto 60px;
    @media (max-width: 480px) {
      margin-left: 30px;
    }
    &::before {
      width: 22px;
      height: 3px;
    }
    &::after {
      width: 22px;
      height: 3px;
      transform: translate(-50%, -50%) rotateZ(90deg);
      transition: @ti;
    }
  }
  .more-bt {
    margin: auto auto auto 0px;
    transition: @ti;
    &::before {
      width: 18px;
      height: 3px;
      transform: translate(-20%, 0%) rotateZ(-45deg);
    }
    &::after {
      width: 18px;
      height: 3px;
      transform: translate(-80%, 0%) rotateZ(45deg);
    }
  }

  // Price
  .paty-tag {
    max-width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 20px 5px 30px;
    position: relative;
    font-family: @russo;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    span {
      &:first-child {
        padding-bottom: 5px;
        font-size: @fs-18;
      }
      &:last-child {
        font-size: @fs-40;
      }
    }
    &::after {
      content: '';
      width: 5px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -5px;
      background: inherit;
    }
    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -7px;
      right: -7px;
      border-style: solid;
      border-width: 7px 0 0 7px;
    }
  }
}

  // Hided Social Buttons
.paty-add {
  width: 100%;
  height: auto;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  transition: all 0.3s cubic-bezier(0.15, 0.87, 0.37, 0.94);
  z-index: -1;
  a {
    width: 60px;
    height: 60px;
    margin: 10px 5px;
    position: relative;
    border-radius: 50%;
    border: 2px solid;
    transition: @ti;
    .icon-svg {
      width: 32px;
      height: 32px;
      .absCenter();
      z-index: 2;
      use #fbk {
        height: 175px;
      }
    }
  }
}

  // JS classes
.pressed-plus {
  &::after {
    opacity: 0;
  }
}
.pressed-more {
  &::before {
    transform: translate(-50%, 0%) rotateZ(-45deg) !important;
  }
  &::after {
    transform: translate(-50%, 0%) rotateZ(45deg) !important;
  }
}

.animated {
  opacity: 0;
  a {
    transform: scale(0.1);
  }
}
.action {
  opacity: 1;
  transform: translateY(80px);
  a {
    transform: scale(1);
  }
}
.show {
  display: block;
}
.hide {
  display:none;
}