  //////// Color
@bg:  #252a31;
@box: #373a42;
@rose: #fe5b9a;
@bordo: #723868;
@white: #f2f2f2;
@black: #000000;

  //////// Parametrs
@ti: all 0.3s ease-in-out;
@tfX: translateX(-50%);
@tfY: translateY(-50%);
  
  // Font style
@russo: 'Russo-fts';
@exo-l: 'Exo2-light-fts';
@exo-t: 'Exo2-thin-fts';
@exo-m: 'Exo2-medium-fts';
  
  // Font size Fibonacci
@fs-128: 128px; 
@fs-79: 79.1px;
@fs-49: 48.8px;
@fs-30: 30.2px;
@fs-18: 18.5px;
@fs-11: 11.4px;


// Team blocks and backgrounds images

.team-blk {
  width: 1200px;
  &:extend(.flex-wrap);
  justify-content: center;
  margin: 100px auto 20px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}
.teammate {
  width: 360px;
  height: auto;
  &:extend(.flex-column);
  align-items: center;
  margin: @gap @gap 120px;
  padding: @gap;
  position: relative;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  transition: @ti;
  &:hover .team-img-svg {
    &:nth-of-type(1) {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -10deg);
    }
    &:nth-of-type(2) {
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -50deg);
    }
  }
  &:hover .about-me {
    opacity: 1;
    transform: translate3d(-50%, 10px, 0);
  }
}
.team-img {
  width: 200px;
  height: 200px;
  display: block;
  &:extend(.absLeft);
  top: -100px;
  > div {
    width: 125px;
    height: 125px;
    display: block;
    position: inherit;
    top: 50%;
    left: inherit;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .team-img-svg {
    display: block;
    &:extend(.absCenter);
    z-index: -1;
    transition: all 0.5s cubic-bezier(0, 0, 0.01, 1.23);
    &:nth-of-type(1) {
      width: 190px;
      height: 190px;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 0deg);
      z-index: -1;
    }
    &:nth-of-type(2) {
      width: 220px;
      height: 220px;
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -60deg);
      z-index: -2;
    }
  }
}
.about-me {
  width: 90%;
  display: block;
  padding: 9px;
  position: absolute;
  top: 40px;
  left: 50%;
  opacity: 0;
  font-family: @exo-l;
  font-size: @fs-15;
  text-align: center;
  border-radius: 10px;
  box-shadow: @light-shadow;
  transform-origin: top center;
  transform: translate3d(-50%, 0, 0);
  transition: @ti;
  z-index: 15;
  &::after {
    content: '';
    width: 0;
    height: 0;
    .absLeft();
    top: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
}
h5 {
  margin-top: 100px;
  font-size: @fs-18;
  text-align: center;
}
h6 {
  font-size: @fs-15;
  text-align: center;
}
.stars {
  width: 70px;
  height: 10px;
  display: flex;
  margin: 10px auto;
}

.team-btns {
  &:extend(.flex-wrap, .flex-center);
  transition: @ti;
  a {
    &:extend(.flex-center, .btn-base);
    margin: 5px;
    .crs-svg {
      width: 23px;
      height: 23px;
    }
  }
}