@import "../less/_reset.less";

//////// Color
@bg:  rgb(37,42,49);
@rose: rgb(254, 91, 154);
@antrast: rgb(94, 246, 255);
@bordo: rgb(114, 56, 104);
@white: rgb(242, 242, 242);
@black: rgb(0, 0, 0);


//////// Parametrs
@w100: 100%;
@pad10: 10px;
@br: 50%;

//////// Fonts

@font-face {
	font-family: 'Exo2-thin-fts';
	src: url('../fonts/exo2-thin.woff') format('woff');
	font-weight: 100;
}
@font-face {
	font-family: 'Exo2-lt-fts';
	src: url('../fonts/exo2-light.woff') format('woff');
	font-weight: 300;
}
@font-face {
	font-family: 'Exo2-med-fts';
	src: url('../fonts/exo2-medium.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'Russo-fts';
	src: url('../fonts/russoone.woff') format('woff');
}

//////////////////////////////////////////////////////
//////// Навигация




//////////////////////////////////////////////////////
//////// Базовый блок

body {
	width: @w100;
	height: auto;
	background: @bg;
	header {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.logo {
			padding: 20px;
			position: relative;
			figcaption {
				padding: 10px;
				position: absolute;
				top: 50%;
				left: 81%;
				color: @white;
				font-size: 1.6em;
				font-family: 'Russo-fts';
				text-transform: uppercase;
				transform: rotateZ(-45deg);
			}
		}
	}
	section.paty {
		overflow: hidden;
		h2 {
			width: 480px;
			margin: auto;
			padding: 145px 0 60px;
			position: relative;
			color: @white;
			font-family: 'Russo-fts';
			font-size: 3.2em;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
			z-index: 5;
			@media (max-width: 480px) {
				width: 100%;
				font-size: 2.2em;

			}
		}

		// event block
		@import "../less/_party-block.less";

		// Ближайщие обытия
		h4.next-evts {
			margin: 50px auto;
			color: @white;
			font-size: 2.5em;
			font-family: 'Exo2-thin-fts';
			font-weight: 100;
			text-align: center;
			text-transform: uppercase;
		}

		// event block
		@import "../less/_next-events.less";
		
	}
} //end body


//////////////////////////////////////////////////////
//////// ДИСКО ДЛЯ ПОДРОСКОВ



//////////////////////////////////////////////////////
//////// Третий блок - Расписание


//////////////////////////////////////////////////////
//////// Четвертый блок - Робот



//////////////////////////////////////////////////////
//////// Шестой блок - Галерея


//////////////////////////////////////////////////////
//////// Седьмой блок - Контакты



////////////////////////////////
///////  АНИМАЦИЯ
// ТРАНСФОРМАЦИЯ
////////////////////////////////


///// Transition 0.3s
// .mouse-hover {
//   transition: 0.3s ease-in-out;

// }
// ///// Transition 0.5s
// .mouse-hover2 {
//   transition: 0.5s ease-in-out;
// }

// @keyframes yarlik {
//   20% {transform: rotateZ(3.5deg)}
// 	25% {transform: rotateZ(4deg)}
//   70% {transform: rotateZ(-3.5deg)}
// 	75% {transform: rotateZ(-4deg)}
// }
@keyframes impuls-rose {
  0% {box-shadow: 0 0 0px 1px fade(@rose, 70%);}
  50% {box-shadow: 0 0 20px 30px fade(@rose, 0%);}
}
@keyframes impuls-bordo {
  0% {box-shadow: 0 0 0px 1px fade(@bordo, 70%);}
  50% {box-shadow: 0 0 20px 30px fade(@bordo, 0%);}
}

////////////////////////////////
///////  АДАПТИВНОСТЬ
// МАШТАБИРОВАНИЕ
////////////////////////////////


//////////////////////////////////////////////////////
@media (max-width: 1200px) {

////////////////////////////////////////
//////// Базовый блок
main {
	width: 100%;
	overflow: hidden;
}
}
//////////////////////////////////////////////////////
@media (max-width: 1199px) {



}
//////////////////////////////////////////////////////
@media (max-width: 1199px) and (min-width: 780px){


}
//////////////////////////////////////////////////////
@media (max-width: 779px) and (min-width: 480px){



}
///////// @media /////////////////////////////////////////////
@media (max-width: 779px) {


}
//////////////////////////////////////////////////////
@media (max-width: 479px) and (min-width: 320px){


}
//////////////////////////////////////////////////////
@media screen and (orientation:landscape) {

}
//////////////////////////////////////////////////////
@media screen and (orientation:portrait) {

}
