@dt-bg:  #252a31;
@dt-box: #373a42;
@dt-brilliant-rose: #fe5b9a;
@dt-palatinate-purple: #723868;
@dt-white-smoke: #f2f2f2;

.teammate {
  box-shadow: @light-shadow;
  background: @dt-box;
  &:hover {
    .team-img-svg {
      &:nth-of-type(1) {
        fill: @dt-brilliant-rose;
      }
      &:nth-of-type(2) {
        fill: fade(@dt-brilliant-rose, 60%);
      }
    }
  }

}
.team-img {
  .team-img-svg {
    &:nth-of-type(1) {
      fill: @dt-white-smoke;
    }
    &:nth-of-type(2) {
      fill: fade(@dt-white-smoke, 60%);
    }
  }
}
.about-me {
  color: @dt-white-smoke;
  border: 1px solid fade(@dt-brilliant-rose, 40%);
  background: @dt-box;
  &::after {
    border-color: transparent transparent  @dt-brilliant-rose transparent; 
  }
}
.stars {
  fill: @dt-brilliant-rose;
}
.team-btns {
  a {
    border: 2px solid fade(@dt-brilliant-rose, 50%);
    .crs-svg {
      fill: fade(@dt-brilliant-rose, 80%);
    }
    &:hover {
      border-color: @dt-white-smoke;
    }
  }
}