	//////// Dark-Theme Color
@dt-bg:  #252a31;
@dt-box: #373a42;
@dt-brilliant-rose: #fe5b9a;
@dt-palatinate-purple: #723868;
@dt-white-smoke: #f2f2f2; 
	
	//////// Light-Theme Color
@wt-bg:  #eeeeee;
@wt-box: #e9e9e9;
@wt-bittersweet: #fc6959;
@wt-light-sea: #24c1c7;
@wt-eden: #286062;
@wt-white: #f2f2f2;
@wt-black: #373a42;

	// Box of event
.next-box {
	box-shadow:@shadow;
	&::after {
		background: fade(@wt-black, 60%);
	}
	h5, p {
		color: @wt-white;
	}
}

	// Date of event
.next-date {
	box-shadow: @shadow;
		// Color
	&.night-next {
		background: @wt-bittersweet;
		color: @wt-black;
		&::after {
			border-color: transparent transparent multiply(@wt-bittersweet, #999999) transparent
		}
	}
	&.day-next {
		background: @wt-light-sea;
		color: @wt-black;
		&::after {
			border-color: transparent transparent multiply(@wt-light-sea, #999999) transparent
		}
	}
}